<body>
    <div class="container-fluid">
           <h1>El ahorcado</h1>
           <label for="form-select">Seleccione dificultad</label>
           <select class="form-select" aria-label="Default select example">
            <option value="1">Fácil (7 intentos)</option>
            <option value="2">Moderado (5 intentos)</option>
            <option value="3">Difícil (3 intentos)</option>
          </select> 
          <br>
          <button class="btn btn-success" (click)="iniciarJuego()">Comenzar</button>
    </div>
</body>
